@charset "utf-8";
.container{height:100vh;background:#cdece5;/*font-size:1.5rem*/;
	background-attachment:fixed;background-size:cover;}
.container header{position:relative;top:50%;left:50%;width:400px;height:80px;margin-left:-200px;
	margin-top:-40px;display:inline-block;text-align:center;color:#fff;}
.container.one{background-image: url(../images/w01.jpg);}
.container.two{background-image: url(../images/w02.jpg);}
.container.three{background-image: url(../images/w03.jpg);}